@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f925f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #147d3c;
}
